.react-calendar {
    border: 0.11rem solid black;
    margin-top: 1rem;
    background-color: #8d8741;
}

.react-calendar__tile--now {
    background: #9e9852;
}

.react-calendar__tile--now:hover {
    background: #afa963;
}

.react-calendar__tile--active {
    background: #659dbd;
}