.App {
  text-align: center;
}

.Title {
  width: 100%;
  height: 100vh;
  background-color: #DAAD86;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./img/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.Content {
  margin-top: 2rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Lore {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #8d8741;
  width: 60%;
  border-radius: 1rem;
  opacity: 0.8;
  margin: 2rem;
  padding: 2rem;
}

.Loader {
  border: 1rem solid #fbeec1; 
  border-top: 1rem solid #DAAD86; 
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

.Graphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.FetchButton {
  width: 8rem;
  height: 5rem;
}

.PeriodSelector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.MapParams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}